.venv/
data/*.csv
data/*.zip
data/ncen/
data/build/fund_graph.ttl
data/build/fund_graph.nq
data/build/shacl_report.ttl
data/lei-isin-*.csv
__pycache__/
.DS_Store
data/nport/
data/build/figi_map.jsonl
data/build/figi_graph.ttl
data/build/nport_graph.ttl
